<form 
	style="border:1px solid #ccc;padding:3px;text-align:center;" 
	action="https://feedburner.google.com/fb/a/mailverify" 
	method="post" 
	target="popupwindow" 
	onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=qshzone', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
	<p><input type="text" style="width:140px" name="email" placeholder="Подписка по email" /></p>
	<input type="hidden" name="uri" value="qshzone"/>
	<input type="hidden" name="loc" value="ru_RU"/>
	<input type="submit" value="Подписаться" />
</form>